it# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Virtual Environments
masters_venv/

# Idea
.idea/

venv
venv3

*bz2

data

# LibreOffice lock files
.~lock*

# NE data files
ne_data_gathering/processed_ne_data/*
ne_data_gathering/raw_ne_data/*

# hansard downloads
hansard_gathering/raw_hansard_data/*
hansard_gathering/processed_hansard_data/*
hansard_gathering/chunked_hansard_data/*
hansard_gathering/interpolated_hansard_data/*
hansard_gathering/numerified_hansard_data/*
# Data buckets from Hansard hashing
hansard_gathering/data_buckets
hansard_gathering/data_buckets_archive

# Pytest
.pytest_cache

# MSWord cache files
~\$*.docx

# mypy
.mypy_cache

# pickled files for tensors
x_*.p
y_*.p

# pickled files for histories
*.history.p

# env file for passwords
.env

# h5 for saved out models from keras
*.h5
*.h5.old
