bs4
bleach
django
flask
gunicorn
h5py
invoke
ipython
jupyter
keras
keras-metrics
lxml
matplotlib
mypy
nltk==3.3
pandas
psycopg2-binary
pyfakefs
pytest
python-digitalocean
pyyaml
requests
sklearn
SPARQLWrapper
tabulate
tensorflow
textblob
xlrd
