<html>
<head>
    This is the debate from date {{ date }} titled {{ debate_title }}<br/>
    <a href="{{ url_for('get_hansards_by_date', date=date) }}"> Up one level.</a> <br/><br/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% for para in debate_paras %}
<p>{{ para }}</p>
{% endfor %}
</body>
<!-- Load JQuery - http://flask.pocoo.org/docs/1.0/patterns/jquery/ -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write(
    '<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script src="{{ url_for('static', filename='char-ner.js') }}"></script>

</html>