<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Samtla</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/interface/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=NTR" rel="stylesheet">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/interface/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/interface/vendor/simple-line-icons/css/simple-line-icons.css">


    <!-- Theme CSS -->
    <link href="/static/interface/css/new-age.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!---<li>
                        <a class="page-scroll" href="#download">Publications</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#media">Media</a>
                    </li>--->
                    <li>
                        <a class="page-scroll" href="mailto:samtla@dcs.bbk.ac.uk?Subject=contact" target="_top" >Contact</a>
                    </li>
                    <li>
                    </li>
                    <li>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10">
                    <div class="container">
                        <div class="header-content-inner" style="font-size:16px;">
                            <div id="title-container" style="position:relative; margin-top:10px;margin-bottom:20px;"/>
                            <img src="/static/interface/img/demo-screen-1.png" style="height: 32px;"/>
                            <span style="font-size:32px;position:relative;top:6px;">Samtla</span>
                            <h4 style="font-size:24px;">Search And Mining Tools for Labelling Archives</h4>
</br>
                            <div  style="font-size:18px;"> 
                            Samtla is a digital infrastructure which supports the development of language and domain independent tools for the semantic search, annotation, and textual analysis of digital text data, such as documents stored in digital archives.</br></br>

                            We provide semantic search and annotation through semantic categories, in the form of named entities and sentiments to give meaning to your data!

                            Let us label your data, so that you can focus on your research.  This service is provided <b>free of charge</b> for a limited period.
</br>                       
                            
</br>                            
                            <a class="btn btn-outline btn-xl page-scroll" href="mailto:samtla@dcs.bbk.ac.uk?Subject=Label%20my%20data" target="_top" >Tell us about your data</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!---
    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Discover what all the buzz is about!</h2>
                    <p>Our app is available on any mobile device! Download now to get started!</p>
                    <div class="badges">
                        <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
                        <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Unlimited Features, Unlimited Fun</h2>
                        <p class="text-muted">Check out what you can do with this app theme!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    
                                    <img src="img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Device Mockups</h3>
                                    <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Flexible Use</h3>
                                    <p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Free to Use</h3>
                                    <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Open Source</h3>
                                    <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting.<br>Start building.</h2>
                <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>--->
<!---     <section id="contact" class="contact bg-primary">

       <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact us</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                    <form action="/sendEmail" method="POST" name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Full name</label>
                                <input type="text" class="form-control" placeholder="Jane Smith" id="name" required data-validation-required-message="Please enter your full name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="jayne.smith@somedomain.com" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
    
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Please tell us how we can help. If you would like to use Samtla, then tell us a bit more about your digital text collection, and your research." id="message" required data-validation-required-message="Please tell us a bit more about why you are interested in collaborating or using the Samtla system"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">--->
        <!---                        <a type="submit" href="mailto:martyn@dcs.bbk.ac.uk?Subject=Label%20my%20data" target="_top" class="btn btn-success btn-lg">Send</a>
</p>--->

<!---                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>--->

    <footer>
        <div class="container">
            <p>&copy; 2016 Samtla. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/interface/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/interface/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/interface/js/new-age.js"></script>

</body>

</html>
