{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Samtla v2</title>
		<meta name="description" content="description">
		<meta name="author" content="Samtla">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'plugins/bootstrap/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<link href="{% static 'plugins/fancybox/jquery.fancybox.css' %}" rel="stylesheet">

		<link href="{% static 'plugins/fullcalendar/fullcalendar.css' %}" rel="stylesheet">
		<link href="{% static 'plugins/xcharts/xcharts.min.css' %}" rel="stylesheet">
		<link href="{% static 'plugins/select2/select2.css' %}" rel="stylesheet">
		<link href="{% static 'css/ui/ui.css' %}" rel="stylesheet">
		<link href="{% static 'plugins/justified-gallery/justifiedGallery.css' %}" rel="stylesheet">
		<link href="{% static 'plugins/chartist/chartist.min.css' %}" rel="stylesheet">
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>


    <script src="{% static 'js/utils.js' %}"></script>

    <script src="{% static 'js/document/document.js' %}"></script>
    <script src="{% static 'js/browse/browse.js' %}"></script>
    <script src="{% static 'js/browse/tree.js' %}"></script>
    <script src="{% static 'js/search/search.js' %}"></script>
    <script src="{% static 'js/compare/seed.js' %}"></script>
    <script src="{% static 'js/compare/snippet.js' %}"></script>
    <script src="{% static 'js/compare/corpusline.js' %}"></script>
    <script src="{% static 'js/compare/doc_comparison.js' %}"></script>
    <script src="{% static 'js/compare/map.js' %}"></script>
    <script src="{% static 'js/compare/slide.js' %}"></script>
    <script src="{% static 'js/NER/NER.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static 'css/ui/NER.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/ui/style_v1.css' %}" rel="stylesheet">


    <style>
        .highlight{
            background-color: yellow;
        }
        .breadcrumb{
            margin-right: 5px;
            display: inline;
        }
    </style>
		

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('google_map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
	</head>
<body>

<!--Start Header-->
<div id="screensaver">
	<canvas id="canvas"></canvas>
	<i class="fa fa-lock" id="screen_unlock"></i>
</div>
<div id="modalbox">
	<div class="devoops-modal">
		<div class="devoops-modal-header">
			<div class="modal-header-name">
				<span>Basic table</span>
			</div>
			<div class="box-icons">
				<a class="close-link">
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
		<div class="devoops-modal-inner">
		</div>
		<div class="devoops-modal-bottom">
		</div>
	</div>
</div>
<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="./"><img src="{% static 'img/logo.png' %}" style="height: 48px; padding: 5px;" class="pull-left"/><span style="font-family:arial;color: white;text-shadow: 1px 1px 1px rgba(0,0,0,0.4);"><b>Samtla</b></span></a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-8 col-sm-4">
						<div id="search">
							<input id="query" type="text" name="q" placeholder="search"/>
							<i id="search-button" class="fa fa-search"></i>
						</div>
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">
                        <div class="hidden-xs col-xs-3 col-sm-3 ">
								<a href="index.html" class="modal-link">
									<img id="loader" src="{% static 'img/devoops_getdata.gif' %}" alt="preloader"/>
								</a>
						</div>

						<ul class="nav navbar-nav pull-right panel-menu">
							
							<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									<div class="avatar">
										<img src="{% static 'img/avatar.jpg' %}" class="img-circle" alt="avatar" />
									</div>
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome">Welcome,</span>
										<span id="username">{{ username }}</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span>Profile</span>
										</a>
									</li>
									<li>
										<a href="ajax/page_messages.html" class="">
											<i class="fa fa-envelope"></i>
											<span>Messages</span>
										</a>
									</li>
									<li>
										<a href="ajax/calendar.html" class="">
											<i class="fa fa-tasks"></i>
											<span>Tasks</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-cog"></i>
											<span>Settings</span>
										</a>
									</li>
									<li>
										<a href="/logout">
											<i class="fa fa-power-off"></i>
											<span>Logout</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a>
						<span class="hidden-xs"><!---<i class="fa fa-table"></i>--->&nbsp<b>History</b></span>
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						
						<span class="hidden-xs"><i class="fa fa-tasks"></i>&nbspQueries</span>
					</a>
					<ul class="dropdown-menu">
                    <li onClick="getSearch('pancreatic disease','#result')"><a>pancreatic disease</a></li>  
                    <li onClick="getSearch('SCLEROSIS','#result')"><a>SCLEROSIS</a></li>  


                    <li onClick="getSearch('osteoporosis','#result')"><a>osteoporosis</a></li>  

                    <li onClick="getSearch('yaṁ ḅaṁḥ ḅudha tha ḅaṁḥ raḥ saḥ biṁḥ','#result')"><a class="">yaṁ ḅaṁḥ ḅudha tha ḅaṁḥ raḥ saḥ biṁḥ</a></li>
                    <li onClick="getSearch(' דאבוכין פלחס שמיה ואימיכין פלחדד שמה שמעי וצותי ופוקי מין ביתיה ומין דירתיה דהדין גיונאי בר מאמאי ומין רשנוי איתתיה ','#result')"><a class=""> דאבוכין פלחס שמיה ואימיכין פלחדד שמה שמעי וצותי ופוקי מין ביתיה ומין דירתיה דהדין גיונאי בר מאמאי ומין רשנוי איתתיה</a></li>

                    <li onclick="getSearch('esau took his wives from the daughters of canaan adah the daughter of elon the hittite and oholibamah the daughter of anah the daughter of zibeon the hivite and basemath ishmaels daughter sister of nebaioth','#result')"><a>Esau took his wives from the daughters of canaan adah the daughter of elon the hittite and oholibamah the daughter of anah the daughter of zibeon the hivite and basemath ishmaels daughter sister of nebaioth.</a></li>
                  
                    <li onClick="getSearch('in the beginning god created the heaven and the earth. and the earth was without form, and void; and darkness was upon the face of the deep. and the spirit of god moved upon the face of the waters.','#result')"><a class="">In the beginning god created the heaven...</a></li>
                    <li onClick="getSearch('arise ye, and stie we into bethel, that we make there an auter to the lord','#result')"><a class="">Arise ye, and stie we into bethel, that we make there an auter to the lord</a></li>




					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<!---<i class="fa fa-table"></i>--->
						 <span class="hidden-xs"><i class="fa fa-file-text-o"></i>&nbspDocuments</span>
					</a>
					<ul class="dropdown-menu">
                    <li><a class="" onClick="getDocument('93', '#result')">Webster's Bible 1833</a></li>
                    <li><a class="" onClick="getDocument('b18253829-0', '#result')">Report of the Medical Officer of Health for London, City of.</a></li>
                    <li><a class="" onClick="getDocument('b28523830-0', '#result')">AN ESSAY UPON PESTILENTIAL DISEASES; SUCH AS THE PUTRID, MALIGNANT,...</a></li>
                    <li><a class="" onClick="getDocument('b21535206-0', '#result')">Remarks on vapour baths, air-pump vapour baths, portable sudatory baths, sulphureous fumigation baths, and cold and tepid shower baths; Portobello, near St. George's Church, Sheffield :</a></li>

<li><a class="" onClick="getDocument('b28117918-0', '#result')">Inebriety</a></li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<!---<i class="fa fa-table"></i>--->
						 <span class="hidden-xs"><i class="fa fa-star-o"></i>&nbspFavourites</span>
					</a>
					<ul class="dropdown-menu">
                                        
                        <li><a class="" onClick="_samtla.getDocumentComparison(160,121)">Comp: Hilprecht Bowls 11c</a></li>
                        <li><a class="" onClick="_samtla.getDocumentComparison(551,935)">Comp: 1 Chronicles chapter 10</a></li>
                        <li><a class="" onClick="_samtla.getDocumentComparison(55,61)">Comp: William Tyndale Bible 1534</a></li>
                        <li><a class="" onClick="_samtla.getDocumentComparison('b17996806-0','b17996454-0')">Comp: Wellcome1</a></li>
                        <li><a class="" onClick="_samtla.getDocumentComparison('b17996867-0','b1799682x-0')">Comp: Wellcome2</a></li>
                        <li><a class="" onClick="_samtla.getDocumentComparison('b17994482-0','b17996776-0')">Comp: Wellcome3</a></li>
					</ul>
				</li>

				
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">

<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar" onClick="_samtla.save_settings('.show-sidebar','width');">
			<i class="fa fa-bars"></i>
		</a>
		<ol id="breadcrumb-nav" class="breadcrumb pull-left">
			<li><a href="/">Home</a></li>
		</ol>
		<div id="social" class="pull-right">
            <a href="#" onClick="_samtla.setBrowserType();"><i id="browser-view" class="fa fa-th-large"></i></a>

		</div>
	</div>
</div>
<!--End Breadcrumb-->
<!--Start Dashboard 1-->
<div id="dashboard-header" class="col-xs-11 col-sm-11 col-md-11 container-fluid">
	<div class="col-xs-9 col-sm-9 col-md-9">
		<h4 id="document-toolbar">
</h4>
	</div>
	<div class="clearfix visible-xs"></div>
	<div class="col-xs-8 col-sm-8 col-md-8 container-fluid">
		<div id="result-header" class="col-xs-12 col-sm-12 col-md-12 expanded-panel row">

		</div>
	</div>
</div>
<!--End Dashboard 1-->
        

            <div id="result"></div> 
            <div id="google_map" style="display:none;margin-top:10px;padding:0px;"  class="col-xs-12 col-sm-12 col-md-12 container-fluid"></div>
	    <!--End Content-->
	</div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc3dfjdO8FF29mkdGYkZL6-FoMU1OzvaI&callback=initMap"></script>
<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/justified-gallery/jquery.justifiedGallery.min.js' %}"></script>
<script src="{% static 'plugins/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'plugins/tinymce/jquery.tinymce.min.js' %}"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="{% static 'js/devoops.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	// Make all JS-activity for dashboard
	DashboardTabChecker();
	// Make beauty hover in table
	$("#browser-window").beautyHover();
	// Run script for stock block
});
</script>
</body>
</html>
